<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../templates/css/favicon.ico">

    <title>Buffet</title>
  </head>
  <body>
    <h2>Buffet Page</h2>

    <div>
        <div>
          <span th:text="${buffet.nome}">
            Paolo
          </span>
          <span th:text="${buffet.descr}">
            Rossi
          </span>
          <div>
            <button type="button">
              <a th:href="@{/deleteBuffet(buffetId=${buffet.id})}">Elimina</a>
            </button>
            <button type="button">
              <a th:href="@{/showUpdateForm(buffetId=${buffet.id})}" class="btn btn-info">Update</a>
            </button>
          </div>
          
          <div>
            <ul>
              <li th:each="piatto : ${elencoPiattiBuffet}">
                <a href="piatto.html" class ="link"
                  th:href="@{'/piatto' + '/' + ${piatto.id}}"
                  th:text="${piatto.nome} + ' ' + ${piatto.descr}">Carbonara</a>
              </li>
            </ul>
          </div>

          <div>
            <button type="button"> 
              <a th:href="@{/buffet/showPiattiToAdd(buffetId=${buffet.id})}">
                  Aggiungi un piatto al Buffet
              </a>
            </button>
          </div>
        </div>
    </div>
    <footer><a href="/">Home</a></footer>
</body>
</html>