<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="nofollow" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta charset= "UTF-8"/>
        <title>Demo</title>
        <link rel="stylesheet" type="text/css" href="indexCss.css">
    </head>
    <body>
        
        <div class="sticky-top">
            <header class="mb-4" >
                <div id ="header" >
                    <span class="mr-3 ml-3">Buffet</span>
                    <span class="mr-3 ml-3">Piatti</span>
                    <span class="mr-3 ml-3">Chef</span>
                    <span class="mr-3 ml-3">Ingredienti</span>
                </div>
            </header>
        </div>

        <!-- <div class="card text-center">
            <div class="card-header">
                My Card
            </div>
            <div class="card-body">
                <h4 class="card-title">Card Title</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, perspiciatis.</p>
                <a class="btn btn-dark" href="#">Read More</a>
            </div>
            <div class="card-footer text-muted">
                2 Days Ago
            </div>
        </div>-->
        

        <div id="Operazioni">
            <h2>Operazioni Possibili Da Amministratore</h2>
            <div class="card text-center">
                <div class="card-body" >
                    <h4 class="card-title">
                        Inserisci Buffet
                    </h4>
                    <a th:href="@{/buffetForm}" class="btn btn-success m-3" >
                        INSERIMENTO
                    </a>
                    <div class="mb-3">
                        <p class="card-text">Cliccando avrai accesso a una form dove potrai inserire 
                            nome e descrizione di un buffet 
                        </p>
                    </div>
                    <h4 class="card-title">
                        Modifica Buffet
                    </h4>
                    <a th:href="@{/buffet}" class="btn btn-warning m-3" >
                        MODIFICA
                    </a>
                        <div>
                            <p class="card-text">Cliccando avrai accesso ai buffet e alle operazioni di modifica o cancellazione  </p>
                        </div>
                </div>

                <span class="card-body">
                    <a th:href="@{/buffet}">
                        Buffets
                    </a>
                    <div>
                        <h4 class="card-title">Card Title</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, perspiciatis.</p>
                    </div>
                </span>
                <span class="card-body"><a th:href="@{/piattoForm}">Inserisci Piatto</a></span>
                <span class="card-body"><a th:href="@{/chefForm}">Inserisci Chef</a></span>
                <span class="card-body"><a th:href="@{/ingredientiForm}">Inserisci Ingredienti</a></span>
                <div><a th:href="@{/persona}"></a></div>
            </div>
        </div>
    </body>
</html>