#header{
    background-color: rgb(65, 65, 243);
    color: white;
    text-align: right;
    padding: 20px;
    font-family:'Courier New', Courier, monospace;
}

#Operazioni{
    text-align: center;
}