<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../templates/css/favicon.ico">

    <title>Piatto</title>
  </head>
  <body>
      <h2>Piatto Page</h2>

      <div>
          <div>
            <span th:text="${piatto.nome}">
              Paolo
            </span>
            <span th:text="${piatto.descr}">
              Rossi
            </span>
            <div>
              <button type="button">
                <a th:href="@{/deletePiatti(piattoId=${piatto.id})}">Elimina</a>
              </button>
              <button type="button">
                <a th:href="@{/showUpdateForm(piattoId=${piatto.id})}" class="btn btn-info">Update</a>
              </button>
            </div>
          </div>
      </div>
      <footer><a href="/">Home</a></footer>
  </body>
</html>